#chatwindow-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#chat-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    background-color: #FFA700;
    cursor: pointer;
    flex-shrink: 0;
}

#chat-header>div {
    margin-right: 20px;
}

#chat-body {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    box-sizing: border-box;
    overflow: auto;
    min-height: 0;
    flex-wrap: wrap;
}

#chat-footer {
    width: 100%;
    flex-shrink: 0;
    padding: 10px 0px;
}