.chat {
    box-sizing: border-box;
    height: calc(100vh - 130px);  
    overflow: auto; 
}
.chat-items-wrapper {
     /* margin: 0 5%; */
     padding: 20px 20px;
     width: 80%;
     max-width: 1000px;
     margin: 0 auto;
     overflow: hidden;
     margin-bottom: 20px;
     
}
.chat-item {
    width: 100%;
    text-align: right;
    margin: 20px 0px;    
}
.chat-item.bot {
    text-align: left;   
}
.chat-msg {
    display: inline-block;    
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #147efb; ;/*#4e813a; #53d769*/
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
}
.chat-item.bot .chat-msg {
    background-color: #30b0c7;/*#f4f4f4; */
    color: white;
}